doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Welcome #{name}, the user
    p Hello #{name}
    div You are a very cool person #{name}!