doctype html
html
head
    title TODO
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    ul
        each item, index in tasks
            li #[strong #{index + 1}.] #{item}
            